//Big button
//Devices - Mobile size

.big-button {
    background: $yellow;
    border: none;
    border-bottom: .6rem solid darken($yellow, 20%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $l-size;
    margin-top: $s-size;
    padding: 2.4rem;
    font-family: 'Caveat Brush';

}

.big-button:disabled {
    opacity: .3;
}

//Button

.button {
    background: $yellow;
    border: none;
    border-bottom: .3rem solid darken($yellow, 20%);
    color:white;
    font-size: $m-size;
    padding: $s-size;
    font-weight: 500;
}

//BEM
.button--remove {
    background: none;
    border:none;
    color: $yellow;
    padding: 0; 
}

.button--removeAll {
    background: none;
    border:none;
    color: darken($yellow, 20%);
    padding: 0; 
}

.button--modal {
    background: $light-blue;
    border: 10px;
    border-bottom: 0.3rem solid darken($light-blue, 20%);
    color: white;
    font-size: $m-size;
    margin-top: $xl-size;
    padding: $m-size;
    font-weight: 500;
    width: 100%;
}

.button--lethimnow {
    background: $dark-green;
    border: none;
    border-bottom: .3rem solid darken($yellow, 20%);
    color:white;
    font-size: $m-size;
    margin-top: 0;
    margin-bottom: $xl-size;
    padding: $s-size;
    font-weight: 500;
}

.button--lethimnow:disabled {
    opacity: .3;
}

//Device - Tablet size

@media (min-width: $tablet-breakpoint ) and (max-width: ($desktop-breakpoint - 0.00000001rem)) {
    .big-button {
        font-size: $xl-size; 
    } 
    
    .header__title {
        font-size: $xxxl-size;
    }
}

//Devices - Desktop size

@media (min-width: $desktop-breakpoint) {
    .big-button {
        font-size: $xl-size;
        width: 100%;
        margin-bottom: $xl-size;
        margin-top: $l-size;     
    }
}