//Devices - Mobile size

.header {
    background: $dark-green;
    color: white;             //text color of all text in the header
    margin-bottom: $m-size;
    padding: $l-size 0;  
    display: flex; 
    justify-content: space-between; 
}

.header__title {             //BEM block element modifier convention of naming with underscoring

    font-size: $xxl-size;
    margin: 1rem;
    text-align: center;
    font-weight: 1000;
    font-family: 'Caveat Brush';
   
}

.header__subtitle {
    font-size: $m-size;
    color: darken($yellow, 20%);
    font-weight: 500;
    margin: 0;
    font-family: 'Caveat Brush';
    text-align: center;
}

//Devices - Tablets

@media (min-width: $tablet-breakpoint ) and (max-width: ($desktop-breakpoint - 0.00000001rem)) {
    .header {
        margin-bottom: $m-size;
    } 
    
    .header__title {
        font-size: $xxxl-size;

    }
}

//Devices - Desktop size

@media (min-width: $desktop-breakpoint) {
    .header {
        background: $dark-green;
        color: white;             //text color of all text in the header
        margin-bottom: $m-size;
        padding: $l-size 0;  
        display: flex; 
        justify-content: space-between;
     
    }

    .header__title {             //BEM block element modifier convention of naming with underscoring
        font-size: $xxxl-size;
        margin: 1rem;
        text-align: center;
        font-weight: 1000;
        font-family: 'Caveat Brush'; 
       

        
    }

    
}