.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: black;
    color: $yellow;
    width: 60rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    margin: $l-size 0 $xl-size 0;
}

.modal__subtitle {
    margin-top: $xl-size;
}

.modal__body {
    font-size: $xxl-size; 
    font-weight: 800;
    color: white;
    margin: 0 0 $l-size 0;
    word-break: break-all;
    margin-bottom: 0;
    font-family: 'Caveat Brush';
}

@media (max-width: $desktop-breakpoint) {
    .modal {
        width: 30rem;
    }
}