//Colors

$off-white: #a5afd7;
$dark-green: #137886;
$light-green: #1EB4AC;
$yellow: #FED355;
$light-blue: #7ab4ff;

//Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7rem;
$xxxl-size: 11rem;

//Screens

$tablet-breakpoint: 38.8rem;
$desktop-breakpoint: 102.5rem;

